{% extends 'base.html.twig' %}

{% block title %}Symfony | Hello user page{% endblock %}



{% block body %}
    <section id="helloUserPage">

        <div class="container">
            {#    <h1>Hello {{ controller_name }}! ✅</h1>#}
            <h1>Hello {{ name }}</h1>
        </div>

    </section>
{% endblock %}
