{% extends 'base.html.twig' %}

{% block title %}Symfony | Home page{% endblock %}



{% block body %}
<section id="homepage">

    <div class="container">
    {#    <h1>Hello {{ controller_name }}! ✅</h1>#}
        <h1>Home page</h1>
    </div>

</section>
{% endblock %}
